# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
env/
venv/
.venv/
.env

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Allure (optional - remove if you want to keep reports in git)
# allure_result/
# allure_reports/
