# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
env/
venv/
.venv/
.env

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Virtual environment
.venv/

# Pytest cache
.pytest_cache/

# Drivers (если они большие)
drivers/

# Allure (раскомментируйте если хотите игнорировать отчеты)
# allure_result/
# allure_reports/
